
.insertTaskButton {
    background-color: teal;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px;
    max-width: 100%;
    cursor: pointer;
}

.listButton {
    background-color: green;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    color: white;
}

.listButton:hover {
    background-color: hsl(120, 100%, 30%);
}

.listButton--remove{
    background-color: red;
}

.listButton--remove:hover{
    background-color: hsl(0, 100%, 70%);
}