.insertTaskButton {
    background-color: teal;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.listButton {
    background-color: green;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    color: white;
    transition: 0.5s;
}

.listButton--remove {
    background-color: red;
}

.listButton:hover {
    background-color: hsl(120, 100%, 30%);
}

.listButton--remove:hover {
    background-color: hsl(0, 100%, 70%);
}

.listButton:active {
    border: solid;
    border-color: black;
    border-width: 1px;
}

.insertTaskButton:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.02);
}