.form {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding-left: 0px;
    list-style: none;
}

.newTask {
    padding: 10px;
    overflow-x: scroll;
    max-width: 100%;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 2px;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .form {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header__container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px
    }
}